# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [4]:
url="https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo=pd.read_csv(url, sep="\t")

In [5]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [7]:
#Step1
a=lambda x : float(x[1:-1]) # -1 --> space
chipo["item_price"]=chipo["item_price"].apply(a)

In [21]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [22]:
chipo[chipo["item_price"] >10].head(3)

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75

### Step 5. What is the price of each item? 
###### Print a data frame with only two columns item_name and item_price

In [ ]:
column=["item_name","item_price"]
chipo[column].head()

                               item_name  item_price
0           Chips and Fresh Tomato Salsa        2.39
1                                   Izze        3.39
2                       Nantucket Nectar        3.39
3  Chips and Tomatillo-Green Chili Salsa        2.39
4                           Chicken Bowl       16.98

### Step 6. Sort by the name of the item

In [37]:
chipo["item_name"].sort_values().head()

3389    6 Pack Soft Drink
341     6 Pack Soft Drink
1849    6 Pack Soft Drink
1860    6 Pack Soft Drink
2713    6 Pack Soft Drink
Name: item_name, dtype: object

### Step 7. What was the quantity of the most expensive item ordered?

In [50]:
chipo["item_price"].sort_values(ascending=False)

3598    44.25
3480    35.25
1254    35.00
3602    35.00
3601    33.75
        ...
3936     1.09
2922     1.09
1396     1.09
2562     1.09
1457     1.09
Name: item_price, Length: 4622, dtype: float64

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [57]:
a=chipo[chipo.item_name=="Veggie Salad Bowl"]
len(a)

18

### Step 9. How many times did someone order more than one Canned Soda?

In [55]:
len(chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)])

20